body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f0f0f0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.card {
    float: left;
    border: 1px solid;
}

.bigCard {
    font-size: 30px;
    width: 200px;
    height: 250px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}

.smallCard {
    font-size: 20px;
    width: 100px;
    height: 125px;
    margin-top: 5px;
    margin-right: 7px;
    padding: 5px;
    text-align: center;
}

.myPlayedCard{ background-color: blue;}
.playedCardArea { min-height: 250px; }

.blackCard {
    background-color: black;
    border: 1px solid black;
    color: white;
}

.whiteCard {
    background-color: white;
}

.gameSummary {
    float: left;
}

